section{
  display: flex;
  align-items: center;
  flex-direction: column;

  height: 100%;
  background: linear-gradient(0deg, rgba(18,16,36,1) 0%, var(--purple-900) 0%, var(--purple-900) 0%, var(--blue-900) 100%);
}

/*_____________________________________________________________________*/
.container-botao-voltar{
  display: flex;

  width: 100%;

  justify-content: end;

  margin:25px;

}

/*_____________________________________________________________________*/

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 700px;
  width: 700px;
  
  background-color: var(--blue-900);
  border-radius: 20px;
}

.container h1{
  color: var(--white);
  margin-bottom: 50px;
}

/*_____________________________________________________________________*/

.photo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.preview-photo{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;

  border-radius: 200px;
  border: 1px dashed rgb(133, 133, 133);
}

.preview-photo{
  color: var(--white)
}

.botao-formulario{
  background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);
}

/*_____________________________________________________________________*/


.input-section{
  display:flex;
  flex-direction: row;
}

.right-container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin:40px 40px;
}

.right-container h2{
  color: var(--white);
  margin-bottom:35px;
}

.right-container{
  display: flex;
  flex-direction: column;
}

.right-container label{
  color: var(--white);
}

.right-container input{
  background-color: var(--blue-100);
  border: none;
  color: var(--white);
  margin: 10px 0;
  padding: 10px 10px;
  border-radius: 15px;

  transition: .4s ease;
}

.right-container input:focus{
  background-color: var(--blue-200);
  box-shadow: 0 0 0 0;
  border: 0 none;
  transform: scaleX(1.1);
}

/*_____________________________________________________________________*/

.left-container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin:40px 40px;
}

.left-container h2{
  color: var(--white);
  margin-bottom:35px;
}

.left-container{
  display: flex;
  flex-direction: column;
}

.left-container label{
  color: var(--white);
}

.left-container input{
  background-color: var(--blue-100);
  border: none;
  color: var(--white);
  margin: 10px 0;
  padding: 10px 10px;
  border-radius: 15px;

  transition: .4s ease;
}

.left-container input:focus{
  background-color: var(--blue-200);
  box-shadow: 0 0 0 0;
  border: 0 none;
  transform: scaleX(1.1);
}

/*_______________________________________________________*/

.botao-cadastrar{
  padding: 10px;
}